[Unit]
Description=Personal finantial tracker
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/cashmony
Restart=on-failure
ExecStart=/usr/bin/node /cashmony/dist/main.js

[Install]
WantedBy=multi-user.target
