iframe#GoogleAuth {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100vw - 3rem);
    height: calc(100vh - 3rem);
    z-index: 1500;
    background: white;
    border: solid rgba(0, 0, 0, 0.5) 1rem;
    background-clip: padding-box;
    padding: 0.5rem;
}