div.react-calendar {
    width: 100%;

    .react-calendar__navigation {
        display: flex;
        height: 48px;

        button {
            background-color: #fff;
            background-image: linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));
            border: 0;
            color: #5c6bc0;
            min-width: 48px;
            cursor: pointer;
        }
    }

    .react-calendar__month-view__weekdays {
        padding-bottom: 8px;
        color: #5c6bc0;
        text-align: center;
    }

    .react-calendar__month-view__days,
    .react-calendar__year-view__months,
    .react-calendar__decade-view__years,
    .react-calendar__century-view__decades {
        button {
            background-color: #fff;
            background-image: linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));
            border: dashed 1px transparent;
            color: rgba(0, 0, 0, 0.87);
            cursor: pointer;
            padding: 8px;

            &:disabled {
                color: #999;
            }
        }

        button.react-calendar__month-view__days__day--neighboringMonth {
            color: #999;
        }

        .react-calendar__tile--now {
            color: #5c6bc0;
        }

        .react-calendar__tile--hover,
        .react-calendar__tile--range {
            background-color: lighten(#ba68c8, 20%);
        }

        .react-calendar__tile--hoverStart,
        .react-calendar__tile--rangeStart:not(.react-calendar__tile--hover) {
            border-radius: 4px 0 0 4px;
        }

        .react-calendar__tile--hoverEnd,
        .react-calendar__tile--rangeEnd:not(.react-calendar__tile--hover) {
            border-radius: 0 4px 4px 0;
        }

        .react-calendar__tile--hoverStart.react-calendar__tile--hoverEnd,
        .react-calendar__tile--rangeStart.react-calendar__tile--rangeEnd:not(.react-calendar__tile--hover) {
            border-radius: 4px;
        }

        .react-calendar__tile--hoverStart,
        .react-calendar__tile--hoverEnd,
        .react-calendar__tile--rangeStart,
        .react-calendar__tile--rangeEnd {
            background-color: lighten(#ab47bc, 20%);
        }
    }
}

body.theme-dark {
    div.react-calendar {
        .react-calendar__navigation {
            button {
                background-color: #121212;
                background-image: linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));
                color: rgb(124, 136, 204);
            }
        }

        .react-calendar__month-view__weekdays {
            color: rgb(124, 136, 204);
        }

        .react-calendar__month-view__days,
        .react-calendar__year-view__months,
        .react-calendar__decade-view__years,
        .react-calendar__century-view__decades {
            button {
                background-color: #121212;
                background-image: linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));
                color: #fff;

                &:disabled {
                    color: #999;
                }
            }

            button.react-calendar__month-view__days__day--neighboringMonth {
                color: #999;
            }

            .react-calendar__tile--now {
                color: rgb(124, 136, 204);
            }

            .react-calendar__tile--hover,
            .react-calendar__tile--range {
                background-color: #ba68c8;
            }

            .react-calendar__tile--hoverStart,
            .react-calendar__tile--hoverEnd,
            .react-calendar__tile--rangeStart,
            .react-calendar__tile--rangeEnd {
                background-color: #ab47bc;
            }
        }
    }
}